- filename = article.split('/').last
- date = DateTime.strptime(filename.split('.')[0], '%Y-%m-%d') rescue nil
- time = DateTime.strptime(filename.split('.')[1], '%H%M') rescue nil
- markdown = RDiscount.new(File.read(article)).to_html

- if date
  %article
    %header
      %h2= markdown.slice!(/^<h\d>[^<]*<\/h\d>/)
      %h5= "Posted on #{date.strftime(@settings[:date_format])}#{' at ' + time.strftime(@settings[:time_format]) if time}"
      
      = markdown
