!!!
%head
  %link{ :rel => 'stylesheet', :href => '/app.css', :type => 'text/css', :media => 'screen, projection' }
  - if tk = @settings[:typekit]
    %script{ :src => "http://use.typekit.com/#{tk}.js", :type => 'text/javascript' }
    :javascript
      try{Typekit.load();}catch(e){}
      
  %title= @settings[:title]

%body
  = haml :_header
  = yield
  = haml :_footer